// @import url(_varibles.scss);
@use 'variables' as *;

h1{
    color: red;
    background-color: $primary-color;
}
div{
    // color: green;
}

.class{
    background-color: aliceblue;
    font-size: 20px;
}

.image {
    width: 100%;      /* Fixed width */
    height: 200px;     /* Fixed height */
    object-fit: cover; /* Ensures images fill the box without distorting */
  }


.avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }