// @import url(_varibles.scss);
@use 'variables' as *;

h1{
    color: red;
    background-color: $primary-color;
}
div{
    color: green;
}

.container{
    // width: 200px;
}

.class{
    background-color: aliceblue;
    font-size: 20px;
}

.image {
    width: 100%;      /* Fixed width */
    height: 200px;     /* Fixed height */
    object-fit: cover; /* Ensures images fill the box without distorting */
  }