// @import url(_varibles.scss);
@import 'variables';

h1{
    color: red;
    background-color: $primary-color;
}
div{
    color: green;
}

.container{
    width: 200px;
    background-color: black;
}

.class{
    background-color: aliceblue;
    font-size: 20px;
}