<div class="container w-50 border">
    <h1>Search page</h1>
    <form class="submit-form" method="POST" >
    <label for="search">Search</label>
    <input id="search" type="text" name="q" class="form-control" placeholder="Search...">
    <select name="gender" id="">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>    <button class="btn btn-success">Submit</button>
</form>
</div>